@ux:registry=https://gdartifactory1.jfrog.io/artifactory/api/npm/node-virt/
@airo-ux:registry=https://gdartifactory1.jfrog.io/artifactory/api/npm/node-virt/
@godaddy:registry=https://gdartifactory1.jfrog.io/artifactory/api/npm/node-virt/
dangerouslyAllowAllBuilds=true
