/* UXCore component styles */
@import "@ux/alert/dist/styles.css";
@import "@ux/box/dist/styles.css";
@import "@ux/button/dist/styles.css";
@import "@ux/card/dist/styles.css";
@import "@ux/checkbox/dist/styles.css";
@import "@ux/chip/dist/styles.css";
@import "@ux/dialog/dist/styles.css";
@import "@ux/linear-progress/dist/styles.css";
@import "@ux/message-overlay/dist/styles.css";
@import "@ux/modal/dist/styles.css";
@import "@ux/circular-progress/dist/styles.css";
@import "@ux/progress-bar/dist/styles.css";
@import "@ux/progress-steps/dist/styles.css";
@import "@ux/radio/dist/styles.css";
@import "@ux/select/dist/styles.css";
@import "@ux/spinner/dist/styles.css";
@import "@ux/tabs/dist/styles.css";
@import "@ux/tag/dist/styles.css";
@import "@ux/text/dist/styles.css";
@import "@ux/text-lockup/dist/styles.css";
@import "@ux/thumb/dist/styles.css";
@import "@ux/toggle/dist/styles.css";

.ux-range-input:where([data-version="2500"]):has([data-grabbed="true"]) {
  cursor: grabbing;
  user-select: none;
}

.ux-range-input:where([data-version="2500"]):has([data-grabbed="false"]) > .ux-track {
  cursor: grab;
}

.ux-range-input:where([data-version="2500"]):has([aria-disabled="true"]) > .ux-track {
  cursor: not-allowed;
}
